@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;750;900&family=JetBrains+Mono:wght@400;500&family=Vazirmatn:wght@450;550;750;950&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Vazirmatn", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --color-rose-50: #fef2f3;
  --color-rose-100: #ffe4e6;
  --color-rose-200: #fecdd3;
  --color-rose-500: #ef4056;
  --color-rose-600: #ef4056;
  --color-rose-700: #df2d43;
  --color-rose-800: #b91c1c;
  --color-rose-900: #991b1b;
}

body {
  font-family: var(--font-sans);
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.4);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.6);
}

/* Custom utility class to hide scrollbar but maintain scrollability */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
